{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://i.imgur.com/Km6o4ZV.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi I am Harshit. I am a full stack web devloper, python devloper. I am currently pursuing my undergrad in Computer Science</p>
        <p>I love playing sports specially cricket. My other hobbies are painting, reading and playing Clash of Clans</p>
        <p>Projects I made are:-</p>
        <ul>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Morse-Code-Converter'])}}" target="_blank">Morse Code Converter</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/R2-D2'])}}" target="_blank">R2-D2 Discord Music Bot</a>
          </li>
          <li>
            <a href="{{''.join(['https://gist.github.com/HarshitRV/1ae4f4ee074b9e58275154f7a6e07b2c'])}}" target="_blank">Instagram Follower Bot with Selenium</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-28/Focus%20App'])}}" target="_blank">Pomodoro App</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-29/Password%20Manager%20App'])}}" target="_blank">Password Manger App</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-20-21/Snake-Game'])}}" target="_blank">Snake Game</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-23/Turtle%20Crossing%20Capstone'])}}" target="_blank">Turtle Crossing Game</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-22/Pong-Game'])}}" target="_blank">Ping Pong</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}