{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/HARSHITRV.png') }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <!-- <h1>About Me</h1>
            <span class="subheading">Full Stack Devloper.</span> -->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi I am <a class="link-primary" src="https://www.linkedin.com/in/harshitrv/" target="_blank">HarshitRV</a></p>
        <p>Here are some of the projects I have worked on</p>
        <ul>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/SecureShareDapp'])}}" target="_blank">SecureShareDapp</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/Hritvik-Mohan/Auction-Project'])}}" target="_blank">AuctionApp</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/FileShare/'])}}" target="_blank">FileShare App</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/HarshitRVBlogsite'])}}" target="_blank">Blog Website</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/R2-D2'])}}" target="_blank">R2-D2-Music Discord Bot with GPT-4</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/sarcasmapi-frontend'])}}" target="_blank">Sarcasm API (Chandler Bing's sarcastic comments)</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Morse-Code-Converter'])}}" target="_blank">Morse Code Converter</a>
          </li>
          <li>
            <a href="{{''.join(['https://gist.github.com/HarshitRV/1ae4f4ee074b9e58275154f7a6e07b2c'])}}" target="_blank">Instagram Follower Bot with Selenium</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-28/Focus%20App'])}}" target="_blank">Pomodoro App</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-29/Password%20Manager%20App'])}}" target="_blank">Password Manger App</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-20-21/Snake-Game'])}}" target="_blank">Snake Game</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-23/Turtle%20Crossing%20Capstone'])}}" target="_blank">Turtle Crossing Game</a>
          </li>
          <li>
            <a href="{{''.join(['https://github.com/HarshitRV/Python-100-Days-of-Code-/tree/main/Day-22/Pong-Game'])}}" target="_blank">Ping Pong</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}